body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #5c5c5c;
    color: white;
  }

  .image{
    width: 100%;
    height: 100%;
 }​

 .content{
    text-align: center;
    float: right;
 }

/* Modal PopUp */
#dialog {
  display: none;
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80%;
  height: 80%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
#dialog.show {
  display: flex;
  flex-direction: column;
}

#show:hover,
#close:hover {
  background: #ff8a00;
  cursor: pointer;
}
#show {
  position: absolute;
  top: 30px;
  left: 10px;
}
#close {
  position: relative;
}

/* The Close Button */
.close {
  align-items: flex-end;
  display: flex;
  flex-direction:column;
  color: #aaaaaa;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}